/*menu */
ul{
	z-index: 2;
	list-style:none;

	/*display: none;*/
}
ul ul{
	padding: 0;
	z-index: 50;
}

ul ul li a{
	font-size: 16px;
	display: block;
	min-width: 200px;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
	background: #62C0E9;
	margin-bottom: 6px;
	box-shadow: 2px 3px 2px;
	text-align: center;
	height: 20px;
	line-height: 18px;
}

a{
	text-decoration:none;
	color: white;
	
}
h2{
	color: #62C0E9;
}
body{
	max-width: 1900px;
	min-height: 850px;
	margin:0;
	font-family: arial;
}
.contact input{
	display: block;
	margin-bottom: 10px;
	width: 320px;
}
.contact textarea{
	min-height: 150px;
	min-width: 320px;
	display: block;
}
.contact button{
	width: 320px;
	height: 30px;
	background: #62C0E9;
	border:none;
}
.menu-desk{
		display: none;
}
.menu-mobile{
	display: inline-block;
	z-index: 50;
}
.menu-mobile .fa{
	font-size: 45px;
}

/*cv */
p{
	margin:0;
}
a{
	text-decoration:none;
}
.accueil{
	overflow-wrap: break-word;
	min-width: 360px;
}
.accueil .titre{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #B3B3B3;
}
.accueil .soustitre{
	font-size: 14px;
	text-align: center;
	color: #B3B3B3;
	margin-bottom: 15px;

}
.contentcv{
	min-width:320px;
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
}
.presentation{
	background-color:#62C0E9;
	color:white;
	box-shadow:0px 4px 5px grey;
}
.presentation .photo{
	
	position:relative;
	margin-bottom:20px;
	
}
.presentation .menu{
	background-color:#5DA4DA;
	position:absolute;
	top:20px;
	left:30px;
	width:35px;
	height:30px;
	font-size:20px;
	text-align:center;
}
.presentation .menu .fa{
	line-height:30px;
}
.presentation img{
	height:130px;
	width:100%;
}
.presentation .nomphoto{
	position:absolute;
	width:140px;
	left:50%;
	font-weight:bold;
	margin-left:-70px;
	bottom:60px;
	color:white;
}
.presentation .jobphoto{
	position:absolute;
	width:140px;
	left:50%;
	margin-left:-70px;
	bottom:20px;
	color:white;
}
.presentation .description{
	font-size:14px;
	padding-left:20px;

}
.presentation .fa{
	font-size:24px;
	padding-left:20px;
}

.presentation .text{
	padding-left:20px;
}
.presentation .not.fa{
	padding-left:0;
}

.presentation .text p:first-line{
	font-weight:bold;	
}
.experience{
	width:100%;
	margin-bottom:15px;
}
.textexperience{
	margin-top:35px;
}
.experience .aquise{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	margin-bottom:4px;
	width:75%;
	height:2px;
	background-color:white;
}
.experience .pourcent{
	position:absolute;
	right:0;
	top:-5px;
	display:inline-block;
	font-size:12px;
}
.experience .nonaquise{
	position:relative;
	display:inline-block;
	width:100%;
	height:2px;
	background-color:grey;
	margin-bottom:4px;
}

.border{
	width:calc( 100% + 10px );
	margin-top:35px;
	margin-left:0px;
	border-bottom:1px solid #4684C1;
	margin-bottom:35px;
}
.margin{
	margin-bottom:30px;
}

.une-experience .job{
	font-weight:bold;
	font-size:16px;
}

.une-experience .lieux {
	font-size:14px;
}
.une-experience .poste{
	margin-bottom:15px;
}
.une-experience .date{
	color:#5DA4DA;
	margin-bottom:15px;
	font-size:12px;
}
.une-experience .description-poste{
	font-size:12px;
	margin-bottom:30px;
}
.une-experience .border{
	width:100% ;
	margin-top:30px;
	margin-left:0px;
	border-bottom:1px solid #BDBDBD;
	margin-bottom:35px;
}
.parcour .interest{
	color:#5DA4DA;
	margin-bottom:40px;
}
.parcour .interest .fa{
	padding:0;
}
.link{
	text-align: center;
	margin-bottom:38px;
	
}
.link a{
	color:white;
}
.link a:hover{
	color :#62C0E9
}

.content-parcour{
	margin-top:25px;
	background-color:white;
	color:#767271;
	box-shadow:0px 4px 5px grey;

}
.content-parcour .debut{
	padding-top:40px;
}
.content-parcour .fa{
	font-size:40px;
	padding-left:10px;
}
.content-parcour .titre{
	font-size:24px;
	margin-bottom:30px;
}
.interest span{
	position:relative;
}
.interest span:hover span{
	display:block;
	position:absolute;
	font-size: 12px;
	top:-35px; left:0;
	background-color:#62C0E9;
	color:#000;
	text-align: justify;
	font-weight:none;
	padding:5px;
}
.interest span span{
	display: none;
}
@media screen and (min-width:40rem){ /*tablette */
	/* cv */
	.presentation{
		padding-bottom: 130px;
	}
	.presentation img{
		height:160px;
	}
	.presentation .description{
			margin-top:80px;
			
	}
	.row{margin-bottom:10px;}
}
@media screen and (min-width:64rem){
	.menu-desk{
		display: inline-block;
	}
	.menu-mobile{
		display: none;
	}
	.gauche{
		
	}
	.header{
		position:relative;
		width: 300px;
	}
	.header .biais{
		z-index: 1;
		height: 10000px;
	   left:-1462px;
	    position: fixed;
	    top: -150px;
	    transform: rotate(10deg);
	    transition: all 0.9s ease-in-out 0s;
	    width: 600px;
		background-color: #62C0E9;
		animation-name: decalage;	
	    animation-duration: 1s;
	    animation-fill-mode: forwards;

	    
	}
	.wrapper{
		padding: 30px 24px 0 80px;
	    position: relative;
	    z-index: 2;
	}
	.wrapper .nav{
		position: fixed;
		top:240px;
		width: 145px;
		font: 20px;
	    text-transform: lowercase;
	    transform: rotate(10deg);
	    padding: 0;
	     animation-name: apparition;
	    animation-delay: 1s;
	    animation-duration:2s;
	    animation-fill-mode: forwards;
	    opacity: 0;
	 
	}
	li{

		background-color: 	#AADFF6;
	}

	.nav li{
		margin-bottom: 20px;
		text-align: center;
		box-shadow: 0px 4px 5px grey;
	}
	.nav  a{
		color:black;
		font-size: 20px;
	}
	.wrapper .identite{
		position: fixed;
		animation-name: apparition;
	    animation-delay: 1s;
	    animation-duration:2s;
	    animation-fill-mode: forwards;
	    opacity: 0;
	    
	}
	.content{
		margin-left: 450px;
		margin-top: 30px;
		animation-name: apparition;
	    animation-delay: 1s;
	    animation-duration:2s;
	    animation-fill-mode: forwards;
	    opacity: 0;
	}
	.photo{
		position:relative;
		margin-bottom:20px;
	}
	.photo img{
		width: 100%;
		height: 100%;
	}
	.nomphoto{
		position: absolute;
		top:130px;
		color: white;
		left:calc(50% - 50px);

	}
	.jobphoto{
		position: absolute;
		top:150px;
		font-size: 12px;
		color: white;
		left:calc(50% - 55px);
	}

	@keyframes decalage{
		0%{
			left:-1462px;
		}
		100%{
			left:-1162px;
			
		}
		
	}
	@keyframes apparition{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;

		}

	}
	.content{
		padding-left:10px;
	}
	.presentation img{
		height:260px;

	}
	.presentation .nomphoto{
		position:absolute;
		width:140px;
		left:50%;
		font-weight:bold;
		margin-left:-70px;
		bottom:80px;
		color:white;
	}
	.presentation .jobphoto{
		position:absolute;
		width:140px;
		left:50%;
		margin-left:-70px;
		bottom:40px;
		color:white;
	}
	.presentation .description{
			margin-top:0px;
	}
	.row{
		margin-bottom:0;
	}
	.content-parcour{
		margin-top:0px;
		margin-bottom:25px;
	}
	/* cv */
	.contentcv{
		padding-left:10px;
	}

	.presentation .nomphoto{
		position:absolute;
		width:140px;
		left:50%;
		font-weight:bold;
		margin-left:-70px;
		bottom:80px;
		color:white;
	}
	.presentation .jobphoto{
		position:absolute;
		width:140px;
		left:50%;
		margin-left:-70px;
		bottom:40px;
		color:white;
	}
	.presentation .description{
			margin-top:0px;
	}
	.row{
		margin-bottom:0;
	}
	.content-parcour{
		margin-top:0px;
		margin-bottom:25px;
	}
	.accueil{
		width: 700px;
		line-height: 20px;
	}


}

